[run]
branch = True
source = donut

[report]
exclude_lines =
    pragma: no cover
    if self\.debug
    raise AssertionError
    raise NotImplementedError
    if 0:
    if __name__ == .__main__.:
ignore_errors = True
omit =
    tests/*
    setup.py
